##################################################################
# CACHE SETTINGS
##################################################################
# 480 weeks
#<filesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|js|css|swf)$">
#Header set Cache-Control "max-age=290304000, public"
#</filesMatch>
 
# 2 DAYS
#<filesMatch "\.(xml|txt)$">
#Header set Cache-Control "max-age=172800, public, must-revalidate"
#</filesMatch>
 
# 2 HOURS
#<filesMatch "\.(html|htm)$">
#Header set Cache-Control "max-age=7200, must-revalidate"
#</filesMatch>