<p>This application has been created as bachelor's thesis at Brno University of Technology, Faculty of Information Technology.</p>

<p>This version is more or less experimental and has only limited functionality.</p>

<h4>Tools making this app cool:</h4>
<ul>
    <li><a href="http://www.w3.org/TR/webaudio/">Web Audio API</a>
    <li><a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a>
    <li><a href="http://jquery.com/">jQuery</a>
    <li><a href="http://backbonejs.org/">Backbone.js</a>
    <li><a href="http://requirejs.org/">RequireJS</a>
    <li><a href="http://lesscss.org/">LESS</a>
</ul>
<h4>Contact me:</h4>
<ul>
    <li>honza.myler@gmail.com
    <li><a href="http://twitter.com/janmyler">@janmyler</a>
</ul>

<img class="audiee-logo" src="apple-touch-icon-114x114-precomposed.png" alt="Audiee logo">