<ul class="dropdown-menu context-menu">
    <li><a href="#" id="cm-rename"><i class="icon-pencil"></i> Rename</a></li>
    <li><a href="#" id="cm-duplicate"><i class="icon-plus-sign"></i> Duplicate</a></li>
    <li><a href="#" id="cm-remove"><i class="icon-trash"></i> Delete</a></li>
    <li class="divider"></li>
    <!-- <li><a href="#" id="cm-info"><i class="icon-info-sign"></i> Info</a></li>
    <li class="divider"></li> -->
    <li>
        <span href="#" data-color="#ffed90" class="cm-color"></span>
        <span href="#" data-color="#ffc48c" class="cm-color"></span>
        <span href="#" data-color="#d1f2a5" class="cm-color"></span>
        <span href="#" data-color="#78e7f0" class="cm-color"></span>
        <span href="#" data-color="#f0bbfd" class="cm-color"></span>

        <span href="#" data-color="#edc951" class="cm-color"></span>
        <span href="#" data-color="#ff6b6b" class="cm-color"></span>
        <span href="#" data-color="#c7f464" class="cm-color"></span>
        <span href="#" data-color="#4ecdc4" class="cm-color"></span>
        <span href="#" data-color="#e787fb" class="cm-color"></span>

        <span href="#" data-color="#df9c26" class="cm-color"></span>
        <span href="#" data-color="#eb6841" class="cm-color"></span>
        <span href="#" data-color="#aee239" class="cm-color"></span>
        <span href="#" data-color="#00a0b0" class="cm-color"></span>
        <span href="#" data-color="#e538a6" class="cm-color"></span>

        <span href="#" data-color="#d27c49" class="cm-color"></span>
        <span href="#" data-color="#c44d58" class="cm-color"></span>
        <span href="#" data-color="#8eab4d" class="cm-color"></span>
        <span href="#" data-color="#2085d8" class="cm-color"></span>
        <span href="#" data-color="#f32e5c" class="cm-color"></span>
    </li>
</ul>