<!-- <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">File <b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><a href="#" id="m-new">New</a></li>
        <li><a href="#" id="m-open">Open...</a></li>
        <li class="divider"></li>
        <li><a href="#" id="m-save">Save</a></li>
        <li><a href="#" id="m-saveas">Save As...</a></li>
    </ul>
</li> -->
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Edit <b class="caret"></b></a>
    <ul class="dropdown-menu">
        <!-- <li><a href="#" id="m-back">Back</a></li>
        <li><a href="#" id="m-forward">Forward</a></li>
        <li class="divider"></li> -->
        <li><a href="#" id="m-cut">Cut <span class="shortcut">X</span></a></li>
        <li><a href="#" id="m-copy">Copy <span class="shortcut">C</span></a></li>
        <li><a href="#" id="m-paste">Paste <span class="shortcut">V</span></a></li>
        <li><a href="#" id="m-split">Split <span class="shortcut">E</span></a></li>
        <li class="divider"></li>
        <li><a href="#" id="m-delete">Delete selection <span class="shortcut">Del</span></a></li>
    </ul>
</li>
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Track <b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><a href="#" id="m-addtrack">Add... <span class="shortcut">N</span></a></li>
        <li><a href="#" id="m-removetrack">Delete <span class="shortcut">Ctrl + Del</span></a></li>
    </ul>
</li>
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">View <b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><a href="#" id="m-zoomin">Zoom in <span class="shortcut">+</span></a></li>
        <li><a href="#" id="m-zoomout">Zoom out <span class="shortcut">-</span></a></li>
        <li><a href="#" id="m-zoomzero">Normal <span class="shortcut">0</span></a></li>
        <li class="divider"></li>
        <li><a href="#" id="m-fullscreen">Toggle fullscreen <span class="shortcut">F</span></a></li>
    </ul>
</li>
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Help <b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><a href="#" id="m-about">About Audiee</a></li>
        <li><a href="#" id="m-help">Help</a></li>
    </ul>
</li>