<div class="modal" id="newTrackModal">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Add new track</h3>
    </div>
    <div class="modal-body">
        <form>
            <fieldset>
            <div class="control-group">
                <label class="control-label" for="file-name">Select the audio file</label>
                <div class="controls">
                    <input type="file" class="input-xlarge" id="file-name" accept="audio/*">
                    <p class="help-block">WAV and MP3 formats are supported.</p>
                </div>
            </div>
            </fieldset>
        </form>
        <div class="progress progress-striped progress-info active hide">
            <div class="bar" style=""></div>
        </div>
    </div>
</div>